# User-specific stuff:
.idea/
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Dependency directories
node_modules/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# Optional eslint cache
.eslintcache

dist/
!docker/dist/
.idea/
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bower dependency directory (https://bower.io/)
bower_components

# enviroment variables
.env

# outputs of ts 
out/